@font-face
{
    font-family: Zado;
    src: url("../fonts/Zado.ttf");
}

@font-face
{
    font-family: TitilliumWeb-Regular;
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}
@font-face
{
	font-family: acherus-light;
	src: url("../fonts/acherus-light.otf");
}
@font-face {
    font-family: Zado;
    src: url("../fonts/Zado.ttf");
}
body
{
    background: #fff;
    width: 320px;
    margin: 0;

}
div {
    margin: 0;
}
.container {  height: 170px; width: 250px; font-family:TitilliumWeb-Regular !important; }
.highlight { position: relative;}*/
.highlight
{
    border:none;
}
#highlight
{
  display:none;
}
.highlight .switcher{ left: 255px; margin-top: 0px; margin-right: 5px; display: inline-block; height: 20px; width: 40px; cursor: pointer; background: #fff; box-shadow: 0 0 2px rgba(0,0,0,0.2) inset; border: 2px solid #eee; border-radius: 20px; vertical-align: middle; position: relative; overflow: hidden; }
.highlight .switcher i { z-index: 2; display: block; position: absolute; top: 01px; height: 15px; width: 15px; border-radius: 20px; border: 1px solid #eee; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
.highlight .switcher:before { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background: rgb(7, 244, 28); box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .switcher:after  { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background-color:"white"; box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .switcher[data-on="true"]  i { left: 24px; }
.highlight .switcher[data-on="true"]:before { left: 0; }
.highlight .switcher[data-on="true"]:after  { left: 24px; }
.highlight .switcher[data-on="false"] i { left: 0;  }
.highlight .switcher[data-on="false"]:before { left: -24px; right:-10px; top: -20px;bottom: -10px;}
.highlight .switcher[data-on="false"]:after  { left: 0;  }
.highlight .switcher i,
.highlight .switcher:before,
.highlight .switcher:after { transition: left 0.2s ease; }
.highlight .tip { display: block;border:none !important; height: 27px;  overflow: hidden;  line-height: 16px; vertical-align: middle; padding-bottom: 8px; cursor: default; }
.highlight .tip .main-tip { font-size: 16px;  color: #333; vertical-align: middle; margin-left: -53px; }



.highlight .google-switcher{ left: 255px; margin-top: 3px; margin-right: 5px; display: inline-block; height: 20px; width: 40px; cursor: pointer; background: #fff; box-shadow: 0 0 2px rgba(0,0,0,0.2) inset; border: 2px solid #eee; border-radius: 20px; vertical-align: middle; position: relative; overflow: hidden; }
.highlight .google-switcher i { z-index: 2; display: block; position: absolute; top: 01px; height: 15px; width: 15px; border-radius: 20px; border: 1px solid #eee; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
.highlight .google-switcher:before { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0px; height: 20px; width: 40px; background: rgb(7, 244, 28); box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .google-switcher:after  { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0px; height: 20px; width: 40px; background-color:"white"; box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .google-switcher[data-on="true"]  i { left: 24px; }
.highlight .google-switcher[data-on="true"]:before { left: 0; }
.highlight .google-switcher[data-on="true"]:after  { left: 24px; }
.highlight .google-switcher[data-on="false"] i { left: -01px;}
.highlight .google-switcher[data-on="false"]:before {left: -24px; right:-10px; top: -20px;bottom: -10px;}
.highlight .google-switcher[data-on="false"]:after  { left: 0;}
.highlight .google-switcher i,
.highlight .google-switcher:before,
.highlight .google-switcher:after { transition: left 0.2s ease; }
.highlight .google { display: block; overflow: hidden;border:none !important; height: 27px; line-height: 16px; vertical-align: middle; padding-bottom: 8px; cursor: default; }
.highlight .google .google-tip { font-size: 16px; color: #333; margin-left: -53px; }



.highlight .google-switcher-public{ left: 255px; margin-top: 3px; margin-right: 3px; display: inline-block; height: 20px; width: 40px; cursor: pointer; background: #fff; box-shadow: 0 0 2px rgba(0,0,0,0.2) inset; border: 2px solid #eee; border-radius: 20px; vertical-align: middle; position: relative; overflow: hidden; }
.highlight .google-switcher-public i { z-index: 2; display: block; position: absolute; top: 01px; height: 15px; width: 15px; border-radius: 20px; border: 1px solid #eee; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
.highlight .google-switcher-public:before { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background: rgb(7, 244, 28); box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .google-switcher-public:after  { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background-color:"white"; box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .google-switcher-public[data-on="true"]  i { left: 24px; }
.highlight .google-switcher-public[data-on="true"]:before { left: 0; }
.highlight .google-switcher-public[data-on="true"]:after  { left: 24px; }
.highlight .google-switcher-public[data-on="false"] i { left: 0;  }
.highlight .google-switcher-public[data-on="false"]:before {left: -24px; right:-10px; top: -20px;bottom: -10px;}
.highlight .google-switcher-public[data-on="false"]:after  { left: 0;  }
.highlight .google-switcher-public i,
.highlight .google-switcher-public:before,
.highlight .google-switcher-public:after { transition: left 0.2s ease; }
.highlight #google-public { display:none; }
.highlight .google-public {  overflow: hidden;border:none !important; height: 27px; line-height: 16px; vertical-align: middle; padding-bottom: 8px; cursor: default; }
.highlight .google-public .google-tip-public { font-size: 16px; color: #333; margin-left: -51px;}



.highlight .google-switcher-private{ left: 255px; margin-top: 3px; margin-right: 3px; display: inline-block; height: 20px; width: 40px; cursor: pointer; background: #fff; box-shadow: 0 0 2px rgba(0,0,0,0.2) inset; border: 2px solid #eee; border-radius: 20px; vertical-align: middle; position: relative; overflow: hidden; }
.highlight .google-switcher-private i { z-index: 2; display: block; position: absolute; top: 01px; height: 15px; width: 15px; border-radius: 20px; border: 1px solid #eee; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
.highlight .google-switcher-private:before { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background: rgb(7, 244, 28); box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .google-switcher-private:after  { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background-color:"white"; box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .google-switcher-private[data-on="true"]  i { left: 24px; }
.highlight .google-switcher-private[data-on="true"]:before { left: 0; }
.highlight .google-switcher-private[data-on="true"]:after  { left: 24px; }
.highlight .google-switcher-private[data-on="false"] i { left: 0;  }
.highlight .google-switcher-private[data-on="false"]:before {left: -24px; right:-10px; top: -20px;bottom: -10px;}
.highlight .google-switcher-private[data-on="false"]:after  { left: 0;  }
.highlight .google-switcher-private i,
.highlight .google-switcher-private:before,
.highlight .google-switcher-private:after { transition: left 0.2s ease; }
.highlight #google-private { display: none}
.highlight .google-private {  overflow: hidden;border:none !important; height: 27px; line-height: 16px; vertical-align: middle; padding-bottom: 8px; cursor: default; }
.highlight .google-private .google-tip-private { font-size: 16px; color: #333; margin-left: -51px;}

.highlight .popup-switcher{ left: 255px; margin-top: 3px; margin-right: 3px; display: inline-block; height: 20px; width: 40px; cursor: pointer; background: #fff; box-shadow: 0 0 2px rgba(0,0,0,0.2) inset; border: 2px solid #eee; border-radius: 20px; vertical-align: middle; position: relative; overflow: hidden; }
.highlight .popup-switcher i { z-index: 2; display: block; position: absolute; top: 01px; height: 15px; width: 15px; border-radius: 20px; border: 1px solid #eee; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
.highlight .popup-switcher:before { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background: rgb(7, 244, 28); box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .popup-switcher:after  { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background-color:"white"; box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .popup-switcher[data-on="true"]  i { left: 24px; }
.highlight .popup-switcher[data-on="true"]:before { left: 0; }
.highlight .popup-switcher[data-on="true"]:after  { left: 24px; }
.highlight .popup-switcher[data-on="false"] i { left: 0;  }
.highlight .popup-switcher[data-on="false"]:before {left: -24px; right:-10px; top: -20px;bottom: -10px;}
.highlight .popup-switcher[data-on="false"]:after  { left: 0;  }
.highlight .popup-switcher i,
.highlight .popup-switcher:before,
.highlight .popup-switcher:after { transition: left 0.2s ease; }
.highlight #popup-summarizar { display: block}
.highlight .popup-summarizar {  overflow: hidden;border:none !important; height: 27px; line-height: 16px; vertical-align: middle; padding-bottom: 8px; cursor: default; }
.highlight .popup-summarizar .popup-tip { font-size: 16px; color: #333; margin-left: -53px;}





.highlight .toolbar-switcher{ left: 255px; margin-top: 3px; margin-right: 3px; display: inline-block; height: 20px; width: 40px; cursor: pointer; background: #fff; box-shadow: 0 0 2px rgba(0,0,0,0.2) inset; border: 2px solid #eee; border-radius: 20px; vertical-align: middle; position: relative; overflow: hidden; }
.highlight .toolbar-switcher i { z-index: 2; display: block; position: absolute; top: 01px; height: 15px; width: 15px; border-radius: 20px; border: 1px solid #eee; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
.highlight .toolbar-switcher:before { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background: rgb(7, 244, 28); box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .toolbar-switcher:after  { z-index: 1; display: block; content: ""; position: absolute; top: 0; left: 0; height: 20px; width: 40px; background-color:"white"; box-shadow: 2px -3px 5px rgba(255,255,255, 0.4) inset; border-radius: 20px; }
.highlight .toolbar-switcher[data-on="true"]  i { left: 24px; }
.highlight .toolbar-switcher[data-on="true"]:before { left: 0; }
.highlight .toolbar-switcher[data-on="true"]:after  { left: 24px; }
.highlight .toolbar-switcher[data-on="false"] i { left: 0;  }
.highlight .toolbar-switcher[data-on="false"]:before {left: -24px; right:-10px; top: -20px;bottom: -10px;}
.highlight .toolbar-switcher[data-on="false"]:after  { left: 0;  }
.highlight .toolbar-switcher i,
.highlight .toolbar-switcher:before,
.highlight .toolbar-switcher:after { transition: left 0.2s ease; }
.highlight #toolbar { display: block}
.highlight .toolbar {  overflow: hidden;border:none !important; height: 27px; line-height: 16px; vertical-align: middle; padding-bottom: 8px; cursor: default; }
.highlight .toolbar .toolbar-tip { font-size: 16px; color: #333; margin-left: -53px;}










.highlight .info-mac{font-size: 12px; color:white;}
.highlight .upspring-mac-command{color:white;}
.highlight .info{color: white; font-size: 12px;}
.highlight .upspring-ws-command{color:white;}
.highlight .color{color: white;}
.highlight .cont{text-align: center; padding-top: 15px; font-family:Zado !important;font-size: 22px;color: white;background:#3E4551;text-decoration: none !important; cursor:auto;outline: 0; }
.highlight .cont:hover{box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);color: yellow;}


.box-header {
    background-color: #444;
    height: 26px;
    color: #fff;
    text-align: center;
    padding: 13px ;
	font-size: 20px;
    border-bottom: 1px solid #ddd;
    font-family: Zado;
}
.header-prefix {
    color: yellow;
}
.box-content {
    padding: 30px 0px 15px 10px;
    font-size: 16px;
    font-family: acherus-light;
	border-bottom: 1px solid #ddd;
}
.box-menus {
    padding: 15px 04px 15px 04px;
}
#box-menus
{
  display:none;
}
.box-menus ul {
    list-style: none;
    width: 320px;
    box-sizing: content-box;
    margin-top: -10px;
    margin-bottom: 0px;
    padding: 20px 20px 05px 0;
  }

  .box-menus li {
    display: inline-block;
    height: 70px;
    width: 95px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 2px;
    text-align: center;
    outline: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 12px 0 0 0;
    margin: 02px;

  }
  .box-menus ul li:hover {
      border: 1px solid #ddd;
      cursor: pointer;
  }
  .box-menus .icon
  {
    background-image: url(../images/searcj.png);
    background-size: 256px 192px;
    display: inline-block;
    vertical-align: top;
    height: 27px;
    width: 27px;
 }

 .box-menus .icon.settings {
    background-position: 0 -74px;
}



.box-menus .label {
    display: block;
    line-height: 45px;
    white-space: nowrap;
    width: 87px;
    text-overflow: clip;
    word-wrap:break-word;
    color: #404040;
    font-size: 11px;
    overflow: hidden;
    font-family: Lato, Helvetica, "Helvetica Neue", sans-serif;
    font-weight: 300;
    outline: none;
}
.menu-icons {
    cursor: pointer;
    padding: 15px 10px 20px 20px;
    border: 1px solid #fff;


}
.menu-icons:hover {
background-color: #f5f5f5;
cursor: pointer;
}
.menu-icon-list img {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-top: -4px;
}

.menu-icon-text {
    font-size:14px;
    padding-left: 20px;
}
.box-footer {
    padding: 12px 10px 10px 10px;
    cursor: pointer;
    font-family: acherus-light;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    color: #222;
    margin: 1px;
    height: 25px;
}
.box-footer:hover {
	background-color: #ddd;
}
.footer-help {
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
	margin-top: 03px;
}
.footer-content {
    display: inline-block;
    vertical-align: middle;
}

#myProgress {
    display:none;
    width: 100%;
    background-color: #ddd;
  }

  #myBar {
      display:none;
    width: 1%;
    height: 17px;
    background-color: #4CAF50;
  }
  #alert
  {
      display:none;
  }
  .footer-content {
    display: inline-block;
    vertical-align: middle;
}
.profile-name {
    font-size: 12px;
    padding-left: 40px;
    font-weight: 600;
    position: absolute;
    padding-top: 05px !important;
}
.custom-align {

}
