.login-box {
    padding: 10px 40px 10px 40px;

}
.login-box input {
    width: 260px;
    height: 40px;
    margin: 10px 10px 20px 05px;
    color: #0d47a1;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #e1e1e1
}
.login-box input:focus {
    outline: none;
    border-color:#0d47a1;
    color: #0d47a1 !important;
}
.login-box input:focus::-webkit-input-placeholder {
    color: #0d47a1;
}
.login-box .btn-signin {
    width: 200px;
    padding:10px 30px 10px 30px;
    margin: 25px 20px 10px 40px;
    border-radius: 4px;
    background-color: #28b473;
    color: #eceff1;
}
.login-box .btn-signin:focus {
    outline: none;
}
.signup-box {
    margin: 20px;
    padding: 0px 0px 0px 60px;
}
.signup-box .signup-link {
    padding-left: 10px;
}
.login-button {
		border: 1px solid #ddd;
		border-radius: 3px;
		cursor: pointer;
		margin-bottom: 40px;
        margin-top: 10px;
        padding-bottom: 10px;
		background-color: #f8f8f8;
		color: black;
}
.login-button:hover {
	background-color: #ddd;
}
.login-google {
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	background-color: #f8f8f8;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
.login-google:hover {
	background-color: #ddd;
}
.login-image {
	height: 20px;
	width: 20px;
    margin: 12px 40px 12px 10px;
    display: inline-block;
}
.login-image-user {
	height: 25px;
	width: 25px;
	padding: 10px 40px 10px 10px;
}
img {
    margin: 0;
    padding: 0;
}
.login-user {
    text-align: center;
    margin-top: -32px;
}
.profile-image-icon  {
    text-transform: uppercase;
    width: 15px;
    height: 15px;
    padding-top:13px;
    padding-left:07px;
    padding-right: 06px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    position: absolute;

  }

  .profile-logout {
      padding-left: 33px;
      position: fixed !important;
      position: absolute;
      margin-top: 07px;
  }
