
body {
    margin-top: 8%;
    margin-left: 35%;
    width: 350px;
    background-color: white !important;

}

.popup-box {

}
.popup-box-header {
    background-color: #4a4c4f;
    height: 50px;
}
.popup-box-login {
    margin-left: 17px !important;
    margin-top: 15px;
    margin-bottom: 10px;
}
.popup-box-header p {
    font-size: 15px;
    color: #c1c1c0;
    text-align: center;
    padding-top: 10px;
}
.popup-box-section-icon {
    height: 70px;
    background-color: #e3dfdf;
    padding: 15px 17px 17px 15px;
    display: none;

}
.popup-box-section-main {
    height: 145px;
    background-color: transparent;
    display: none;
}
.popup-box-footer {
    border-top: 1px solid #222;
    padding: 12px 10px 10px 17px;
    cursor: pointer;
    font-family: acherus-light;
    height: 50px;
    background-color: #f7f7f7;
}
.border-custom {
    border-top: 1px solid #ddd;
    height: 48px;
    margin: 0;
    padding: 0;
}
.custom-border{
    border-top: 1px solid #ddd;
    height: 48px;
    padding: 0;
    margin: 0;
}
.border-custom:hover {
    background-color: #40a249;
    cursor: pointer;
}
.border-custom:hover h4 {
    color: white;
}
.border-custom h4 {
    text-overflow: hidden;
}
.border-left{
    border-left: 10px solid #ddd;
    margin-left: 100px;
}
.border-rounded {
    border: 1px solid #4b515d;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

}
.border-rounded-blue {
    border: 1px solid  blue;
}


.border-rounded img {
    margin: 14px;
}
.dropdown-icon{
    display: inline-block;
    padding-left: 20px;
    position: absolute;
    margin-top: 11px;
    cursor: pointer;
}
.dropdown-icon span {
    font-size: 22px;
    color: #222;
    cursor: pointer;
}
.rounded-icon {
    border-radius: 50%;
    margin: 11px 11px 11px 20px;
}

.popup-main-icon-box {
    display: inline-block;
}
.row {
    padding: 0 !important;
    margin: 0 !important;
}
.col-md-6 {
    padding: 0 !important;
    margin: 0 !important;
    width: 175px !important;
}
@font-face
{
    font-family: Zado;
    src: url("../fonts/Zado.ttf");
}

a {
    text-decoration: none;
    color: inherit;
}

.c-icon {
    width:  36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.c-link--facebook:hover  { color: #000 }
.c-link--facebook:hover::after  { background: #000 }

.c-link {
    position: relative;
    color: #bbb;
}

.c-link:not(:last-of-type) {
    margin-right: 0px;
}

.c-tooltip::before,
.c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.c-tooltip::before {
    content: '';
    bottom: calc(100% + 2px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 12px);
    padding: .40em .93em;
    font-size: 12px;
    color: white;
    text-align: center;
    width:110px;
    border-radius: 5px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}

.pens-link-container {
    flex-basis: 100%;
    font-size: .9rem;
    text-align: center;
}

.pens-link {
    margin-bottom: 0;
    background: black;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .1);
    border: none;
}
.login-box {
    padding: 10px 40px 10px 40px;

}
.login-box input {
    width: 260px;
    height: 40px;
    margin: 10px 10px 20px 05px;
    color: #0d47a1;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #e1e1e1
}
.login-box input:focus {
    outline: none;
    border-color:#0d47a1;
    color: #0d47a1 !important;
}
.login-box input:focus::-webkit-input-placeholder {
    color: #0d47a1;
}
.login-box .btn-signin {
    width: 200px;
    padding:10px 30px 10px 30px;
    margin: 25px 20px 10px 40px;
    border-radius: 4px;
    background-color: #28b473;
    color: #eceff1;
}
.login-box .btn-signin:focus {
    outline: none;
}
.signup-box {
    margin: 20px;
    padding: 0px 0px 0px 60px;
}
.signup-box .signup-link {
    padding-left: 10px;
}
.login-button {
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
    color: black;
}
.login-button:hover {
    background-color: #ddd;
}
.login-google {
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f8f8f8;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 240px;

}
.login-google:hover {
    background-color: #ddd;
}
.login-image {
    height: 20px;
    width: 20px;
    margin: 12px 40px 12px 10px;
    display: inline-block;
}
.login-image-user {
    height: 25px;
    width: 25px;
    padding: 12px 40px 10px 10px;
}
img {
    margin: 0;
    padding: 0;
}
.login-user {
    text-align: center;
    margin-top: -32px;
}
.profile-image-icon  {
    text-transform: uppercase;
    width: 25px;
    height: 25px;
    padding-top:13px;
    padding-left:07px;
    padding-right: 06px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    position: absolute;
    margin-top: 02px;

}

.profile-logout {
    padding-left: 33px;
    position: fixed !important;
    position: absolute;
    margin-top: 07px;
}
.profile-name {
    font-size: 14px;
    padding-left: 40px;
    font-weight: 500;
    position: absolute;
    padding-top: 05px !important;
    font-family: sans-serif;
}
.import-status {
    float: right !important;
    padding-top: 07px;
    font-family: sans-serif;
    font-size: 12px;
    color: green;
}